.login-container {
  max-width: 400px;
  margin: 0 auto; /* Centra el contenedor */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-container form {
  margin: 0 auto; /* Centra el formulario horizontalmente */
  max-width: 300px; /* Ajusta el ancho del formulario según sea necesario */
}
.login-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-container p {
  font-size: 14px;
}

.login-container p a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.login-container p a:hover {
  text-decoration: underline;
}

.logo-container {
  margin-bottom: 20px;
  
}

.logo-container img {
  width: 300px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
}
